:root{
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.follow-me{
    position: fixed;
}

.item{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    position: relative;
    transition: width 0.25s;
}

.item span {
    display: block;
    width: 35px;
    height: 35px;
    background-size: 100% auto;
    text-indent: -9999em;
}

.item:hover{
    width: 135%;  
}

.github{
    background: black;
}

.lk{
    background: #9A7D0A;
}
.fb{
    background: #3498DB;
}

#wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.iterpo img{
    width: 10%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(255, 0, 0, 0);
    cursor: pointer;
}